.review-detail-container {
  background: #f7f8fa;
  padding: 30px;
  font-family: 'Arial', sans-serif;
}

.white-box {
  background-color: white;
  padding: 20px;
}

.review-detail-container h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.detail-divider {
  border: none;
  width: 100%;
  height: 3px;
  background-color: #F3F5F7;
  margin: 5px 0;
}

.detail-table {
  width: 100%;
  border-collapse: separate; 
  border-spacing: 0 15px; 
  background-color: white;
  table-layout: fixed;
  margin-top: 10px;
}

.detail-table th {
  background-color: #F0F1F5;
  text-align: left;
  padding: 15px;
  width: 230px;
  font-weight: bold;
  color: #333;
  border: 1px solid #D9D9D9;
}

.detail-table td {
  padding: 15px;
  border: 1px solid #D9D9D9;
  vertical-align: top;
  color: #222;
  word-break: break-word;
}

.detail-image {
  padding: 5px;
  width: 200px;
  height: auto;
  border-radius: 6px #D9D9D9;
  object-fit: cover;
}

.button-wrapper {
  margin-top: 105px;
  text-align: center;
}

.edit-button {
  background-color: #2aa52a;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.edit-button:hover {
  background-color: #239123;
}
