.comment-list-container {
  background: #f7f8fa;
  padding: 30px;
  font-family: 'Arial', sans-serif;
}

.white-box {
  background-color: white;
  padding: 20px;
}

.comment-list-container h2 {
  margin-bottom: 20px;
  font-size: 20px;
  margin-left: 20px;
}

.comment-divider {
  border: none;
  width: 100%;
  height: 3px;
  background-color: #f3f5f7;
  margin: 5px 0;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 8px 20px;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.checkbox-wrapper input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: #2aa52a;
}

.checkbox-wrapper label {
  font-size: 16px;
  cursor: pointer;
  user-select: none;
}

.search-box {
  position: relative;
}

.search-box input {
  padding: 8px 30px 8px 12px;
  background-color: #f3f5f7;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 300px;
  height: 20px;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}

.delete-button-wrapper {
  margin-right: 20px;
}

.top-delete-button {
  padding: 8px 14px;
  background-color: #2aa52a;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.buttons button {
  margin: 0 5px;
  padding: 6px 10px;
  font-size: 14px;
  border: 1px solid #2aa52a;
  border-radius: 5px;
  background: white;
  cursor: pointer;
}

.buttons button.delete {
  color: #2aa52a;
}

.buttons button.detailSee {
  color: white;
  background: #2aa52a;
}

.comment-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 70px;
}

.comment-table thead tr {
  background-color: #f3f5f7;
}

.comment-table thead th {
  color: #757575;
}

.comment-table th,
.comment-table td {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #eee;
  font-size: 15px;
}
