.user-point-container {
  background-color: #f7f8fa;
  padding: 30px;
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
}

.user-point-container h2 {
  margin-bottom: 20px;
  font-size: 20px;
  margin-left: 20px;
}

.point-tab {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 30px 0 20px 0;
}

.point-tab button {
  background: none;
  border: none;
  padding: 12px 0;
  width: 120px;            
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-bottom: 3px solid transparent;
  font-weight: bold;
  color: #555;
  transition: all 0.2s ease;
}

.point-tab button.active {
  border-bottom: 3px solid #2aa52a;
  color: #2aa52a;
}


/* 포인트 테이블 */

/* .point-table th {
  background-color: #f0f0f0;
  font-weight: bold;
  color: #333;
} */

.point-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 70px;
}

.point-table thead tr {
  background-color: #f3f5f7;
}

.point-table thead th {
  color: #757575;
}

.point-table th,
.point-table td  {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #eee;
  font-size: 15px;
}

/* 하단 페이지네이션 */
.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 20px 0;
  background-color: #f7f8fa;
}

.pagination span {
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  color: #333;
  font-size: 14px;
}

.pagination .active {
  background-color: #2aa52a;
  color: white;
  font-weight: bold;
}
